Source: munin-plugins-afs
Section: net
Priority: optional
Maintainer: Michael Howe <michael@michaelhowe.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/collab-maint/munin-plugins-afs.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/munin-plugins-afs.git

Package: munin-plugins-afs
Architecture: all
Depends: ${misc:Depends}, perl, munin-node, openafs-client
Description: network-wide graphing framework (OpenAFS plugins)
 Plugins for munin-node to graph OpenAFS attributes
